1) create an AWS account, thats a root user.
2) create an iam user to do the work
log into the root user
go to the IAM console (Identity and Access Management)
navigate to "Users" under the access management menu
click create a new user and follow steps.
ensure they have belong to a user group with admin privledges

3)Log out of the root user and log back into the IAM user account

My application uses docker to package the environment for distribution

Now we can deploy the container to AWS
