<div class="grid grid-cols-4 gap-4">
  <div class="bg-gray-200">
    Deploying to AWS
  </div>
  <div class="col-span-3">
    This application uses Amazon Web Services and Docker.  Learn more about how I handled this application's networking and hosting in this artcle.
  </div>
</div>
